html,
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $color-primary;
  background: rgb(226, 223, 223);
}
#app {
  height: 100%;
}
.wrapper {
  max-width: 600px;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(78, 85, 94, 0.9), rgba(78, 85, 94, 0.9)),
    url(./../assets/Map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;

  &__title {
    padding: 10px 15px;
    text-align: left;
  }

  &__forecast {
    padding: 10px 15px;
    background-color: $grey;
  }
}


.weather-box {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
