// colors
$white-color: #ffffff;
$light-grey: #9fa0a5;
$middle-grey: #979797;
$grey: rgb(78, 85, 94);
$dark-grey: rgb(58, 66, 76);
$blue: #54c7fc;
$darker-blue: #54c9f9;

$font-weight-light: 200;

$color-primary: $white-color;
$color-primary-light: $light-grey;

$bg-color: $dark-grey;
$bg-color-2: $grey;

$secondary: $blue;
$secondaryDark: $darker-blue;
